<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51989880916-5qj5ohff4ol4c1pjbhd3klut4q3v0a61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51989880916-5qj5ohff4ol4c1pjbhd3klut4q3v0a61</string>
	<key>API_KEY</key>
	<string>AIzaSyBLv4sc2qZeesYMQmRNOPDC3GSQiw879ig</string>
	<key>GCM_SENDER_ID</key>
	<string>51989880916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.Firebase-PaperScissorsStone2</string>
	<key>PROJECT_ID</key>
	<string>fir-paperscissorsstone2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-paperscissorsstone2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51989880916:ios:31f5afeb38be7e018d0dc1</string>
</dict>
</plist>